.logoDimensiones{
    
        max-height: 72px;
        margin-right: 10px;
        margin-top: -3px;
        display: inline-block;
    
}

.warnings{
        width: 500px;
        text-align: center;
        margin: auto;
        color: red;
        padding-top: 20px;
}