.logoDimensiones{
    
        max-height: 72px;
        margin-right: 10px;
        margin-top: -3px;
        display: inline-block;
    
}

.invalid{
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: red;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
} 

::placeholder {
        color: black;
        font-size: 1.3em;
      }

.filtro {
    margin-left: 3%;
    margin-bottom: 3%;
}

.toolbar{
        background-color: rgb(249, 249, 249);
        border-bottom: 1px solid #dadada;
        border-top: 1px solid #dadada;  
}